extends layout

block content
  div.container
    div.row(ng-show='errors')
      div.panel.panel-danger(ng-repeat='(name, message) in errors').
        {{name}} : {{message}}
    div.row
      div.col-xs-6
        div.row
          h2 People
        div.row
          user-profile
          user-list(ng-show='logged_in')
      div.col-xs-6
        div.row
          h2 Topics
        div.row
          user-topics
    div.row(ng-show='logged_in')
      message-boxes
